<!DOCTYPE html>
<html lang="en">

<head>

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
  <title>Starter Template - Materialize</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Handlee|Open+Sans+Condensed:300,300i,700&display=swap" rel="stylesheet">
  {% load static %}
  <link href="{% static 'planner/css/materialize.custom.css' %}" type="text/css" rel="stylesheet"
    media="screen,projection" />
  <link href="{% static 'planner/css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection" />
</head>

<body>
  {% include "planner/nav.html" %}

  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <h2 class="header center">{% block page_name %}{% endblock %}</h2>
    </div>
  </div>

  <div class="container" style="margin-top: 12rem">
    {% block content %}CONTENT GOES HERE{% endblock %}
  </div>

  {% include "planner/footer.html" %}

  <!--  Scripts-->
  {% include "planner/scripts.html" %}

</body>

</html>